{% extends 'projecbase.html' %}
{% load staticfiles %}
{% block contenid %}
    <div class="card">
        <div class="card-header">
            <div class="form-group text">
                <ul class="list-inline">
                    <li class="list-inline-item">
                                    <span class="badge badge-secondary">
                                    <i class="ti-menu fa-2x"></i></span></li>
                    <li class="list-inline-item">     <h2 class="text-secondary"><strong>  {% if  marca.count == 1 %}
                            {{ model }}
                            {% elif marca.count > 1 %}
                                {{ model }}s
                                {% else %}
                                {{ model }}
                        {% endif %}</strong></h2>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group text">
                        <br>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <span class="hint--bottom-left  hint--success"
                                      aria-label="Nuevo Registro">
                                    <button  onclick="myFunction('{{ ruta }}?action=add&id='+'')"
                                             data-backdrop="static" data-keyboard="false" class="btn btn-success btn-md"  value="1"
                                             href="#mdsucur"  rel="action" data-toggle="modal">

                                    <i class="fa fa-plus"></i>
                                </button></span>
                            </li>
                            <li class="list-inline-item">
                                  <span class="hint--bottom-left  hint--info" aria-label="Imprimir">
                                                <a
                                                    href="{{ ruta }}?imprime=imprimir"
                                                    class="btn btn-outline-info btn-md hint--bottom-left  hint--info"
                                                    data-original-title="Imprimir"  target="_blank">
                                                <i class="ti-printer"></i>
                                            </a>
                                    </span>
                            </li>
                        </ul>
                    </div>
                    <div class="content-panel">
                        <div class="table-responsive">
                            <table id="" cellspacing="0" width="100%"
                                   class="table table-striped table-bordered table-advance
                                   table-hover display nowrap myTable">
                                <thead>
                                <tr class="table-info">
                                    <th>
                                        <i class="fa fa-circle" aria-hidden="true"> Nombre</i>
                                    </th>
                                    <th>
                                        <i class="fa fa-square" aria-hidden="true"> Descripción</i>
                                    </th>
                                    <th>
                                        <i class="fa fa-check-square" aria-hidden="true"> Estado</i>
                                    </th>
                                    <th>
                                        <i class="fa fa-cog" aria-hidden="true"> Acción</i>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for mar in marca %}
                                    <tr class="p-0 m-0">
                                        <td class="p-2 m-0">{{ mar.nombre }}</td>
                                        </td>
                                        <td class="p-2 m-0">{{ mar.descripcion }}</td>
                                        <td class="p-2 m-0">
                                        {% if mar.status %}
                                                    <span class="badge badge-success">Activa</span>
                                                {% else %}
                                                    <span class="badge badge-danger">Inactiva</span>
                                                {% endif %}</td>
                                        <td class="p-2 m-0">

                                            <button onclick="myFunction('{{ ruta }}?action=edit&id='+ '{{ mar.id }}')"
                                                    href="#mdsucur"  rel="action" data-toggle="modal"
                                                    data-backdrop="static" data-keyboard="false"  class="btn btn-primary rounded-circle btn-sm edit">
                                    <span class="hint--bottom-left  hint--info"
                                          aria-label="Editar"><i class="fa fa-pencil"></i>
                                    </span>
                                            </button>
                                            <button onclick="myFunction('{{ ruta }}?action=elim&id='+ '{{ mar.id }}')" href="#mdsucur" data-toggle="modal" rel="action"
                                                    data-backdrop="static" data-keyboard="false"  class="btn btn-danger rounded-circle btn-sm button"   data-toggle="modal">
                                    <span class="hint--bottom-left  hint--error"
                                          aria-label="Eliminar"><i class="fa fa-trash-o "></i>
                                    </span>
                                            </button>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="100"> <center>No existen registros</center></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> <!-- .card -->
        </div><!--/.col-->
    </div>
{% endblock %}
{% block frmodal %}
    <div class="modal face animated rotateIn" id="mdsucur"  role="dialog">
    </div>
{% endblock %}
{% block jscript %}
    <script>
        {% if messages %}
            {% for message in messages %}
                Swal.fire({
                    title: 'Información!',
                    text: '{{ message }}',
                    html:'{{ message }}',
                    showCloseButton: true,
                    confirmButtonColor: "#71C78D",
                    confirmButtonText: 'OK',
                    imageWidth: 400,
                    imageHeight: 200,
                    imageAlt: 'Custom image',
                });
            {% endfor %}
        {% endif %}
        $("#btnPdf").click(function() {
            alert("Handler for .click() called.");
            $.ajax({
                type:"GET",
                url: '{{ ruta }}',
                data: {
                    'action':'imprimir'
                },
                dataType: 'json',
                success: function (data) {
                    if (data.resp == true) {
                        window.location.reload();
                    } else {
                        alert('holasdsd');
                    }
                }
            });
        });
        function myFunction(url) {
            $('#mdsucur').load(url,function () {
                $('#mdsucur').modal({backdrop: 'static', keyboard: false,show:true,remote:false});
            });
            return false;
        }
    </script>
{% endblock %}