{% load staticfiles %}
{% block frmodal %}
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text">
                    <ul class="list-inline">
                        <li class="list-inline-item"> <i class="ti-menu fa-2x"></i></li>
                        <li class="list-inline-item">
                            <h3>  <strong class="card-title">{{ model }}</strong>
                            </h3>
                        </li>

                    </ul>
                </div>

            </div>
            <form method="POST" action="{{ ruta }}" onsubmit="return todo()" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ id }}">
                    <input type="hidden" name="action" value="{{ action }}">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group has-success">
                                <label for="nombre" class="control-label mb-1">Nombre:</label>
                                <input id="nombre" name="nombre" type="text"
                                       class="form-control cc-name valid" data-val="true"
                                       autocomplete="cc-name" value ='{{ marca.nombre }}' minlength="8" maxlength="60" required="true">
                                <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <label for="descripcion" class="control-label mb-1">Descripción:</label>
                                <input type="text" class="form-control " name="descripcion" minlength="2" maxlength="55"
                                       id="descripcion" value ='{{ marca.descripcion }}' required="true" >
                            </div>
                            <div class="form-group">
                                <label for="status" class="control-label mb-1">Estado:</label>
                                <input type="checkbox" class="form-control " name="status"
                                       id="status" value ='{{ marca.status }}'>
                            </div>
                        </div><!--/.col-->
                    </div>
                </div>
                <div class="modal-footer">
                    {% if action == 'ver' %}
                        <a href="{{ ruta }}" id="btnSalir" class="btn btn-info"> <i class="fa fa-window-close"> Cerrar</i> </a>
                    {% endif %}
                    {% if action == 'add' %}
                        <a href="{{ ruta }}" id="btnSalir" class="btn btn-danger"> <i class="fa fa-remove"> Cancelar</i> </a>
                        <button type="submit" id="Dato" class="btn btn-success">
                            <i class="fa fa-save"> Guardar</i></button>
                    {% endif %}
                    {% if action == 'edit' %}
                        <a href="{{ ruta }}" id="btnSalir" class="btn btn-danger"> <i class="fa fa-remove"> Cancelar</i>
                        </a>
                        <button type="submit" id="Dato" class="btn btn-success">
                            <i class="fa fa-save"> Guardar</i></button>
                    {% endif %}
                    {% if action == 'elim' %}
                        <a href="{{ ruta }}" id="btnSalir" class="btn btn-light">
                            <i class="fa fa-remove"> Cancelar</i> </a>
                        <button type="submit" id="Dato" class="btn btn-danger">
                            <i class="fa fa-save"> Eliminar</i></button>
                    {% endif %}
                </div>
            </form>
        </div></div>
{% endblock %}
{% block jscript %}
    <script type='text/javascript'>
        $('#Dato').click(function(){
            $("input").prop('disabled', false);
        });
        if ('elim' =='{{ action }}'){
            $('input').prop("disabled", true);
        }

        {% if  marca.status %}
            $("#status").prop("checked", true);
        {% endif %}
    </script>
{% endblock %}